body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white for contrast */
}

header {
    background-color: #00008B; /* Dark Blue */
    /* Alternatively, you can use electric blue with background-color: #7DF9FF; */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white; /* Ensure the text in the nav is visible */
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 40px;
}

.project {
    margin: 20px 0;
}

.project img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #00008B;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

